doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Soom
        // 페이지가 덜 못생겨보이게
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Soom
        main
            div#welcome
                form#name
                    input(placeholder="nickname", required, type="text")
                    button Save
                form#enter
                    input(placeholder="room name", required, type="text")
                    button Enter Room
                h4 Open Rooms:
                ul 
            div#room
                h3
                ul
                form#msg
                    input(placeholder="message", required, type="text")
                    button Send
        // ws API는 브라우저에 설치되어 있었지만 socket.io는 아니기 때문에 frontend에 socket.io 설치
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 